.wrap {
  position: relative;
}

.image {
  margin-bottom: 5px;
  height: 420px;
}

.image img {
  border-radius: 15px;
}

.down {
  position: relative;
}

.reflection {
  width: 700px;
  height: 200px;
  border-radius: 15px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  opacity: .5;
  background: url(../../img/img_visual/01.jpg) bottom center no-repeat;
}

.overlay {
  position: relative;
  bottom: 150px;
  width: 700px;
  height: 150px;
  border-radius: 15px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0)  0%, rgb(0, 0, 0) 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.0, rgb(255, 255, 255)), color-stop(.8, rgba(0, 0, 0, 0)));
}
