<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="jinliwei1990@outlook.com" />
    <meta name="keywords" content="resume jinliwei" />
    <meta name="description" content="" />
    <title>金礼伟的简历</title>
    <link rel="stylesheet" href="../css/resume/resume.css">
</head>

<body>
    <div class="main">
        <!-- 基本信息 模块-->
        <div class="base-info">
            <h4>基本信息</h4>
            <div>
                <img class="head-portrait" src="../img/resume/jinliwei.png" />
            </div>
            <ul class="base-ul">
                <li>
                    姓名：<span>金礼伟</span> &nbsp;&nbsp;|&nbsp;&nbsp;男&nbsp;&nbsp;|&nbsp;&nbsp;3年工作经验&nbsp;&nbsp;
                    <span>|&nbsp;&nbsp;本科</span>
                </li>
                <li>
                    26岁&nbsp;&nbsp;|&nbsp;&nbsp;1990年6月&nbsp;&nbsp;
                    <span>|&nbsp;&nbsp;未婚&nbsp;&nbsp;</span>|&nbsp;&nbsp; 上海 闸北区&nbsp;&nbsp;
                </li>
                <li><span>手机：</span><span>15002129986</span></li>
                <li><span>邮箱：</span>jinliwei1990@outlook.com</li>
            </ul>
            <p class="clear"></p>
        </div>
        <!-- 技能信息 模块-->
        <hr>
        <div class="skill-info">
            <h4>简历标签</h4>
            <ul class="skill-box">
                <li><a>1</a><span>C#</span></li>
                <li><a>2</a><span>html</span></li>
                <li><a>3</a><span>SQL</span></li>
                <li><a>4</a><span>研发工程师</span></li>
                <li><a>5</a><span>英语</span></li>
                <li><a>6</a><span>CSS</span></li>
                <li><a>7</a><span>Matlab</span></li>
                <li><a>8</a><span>VB.NET</span></li>
                <li><a>9</a><span>java</span></li>
                <li><a>10</a><span>python&#39;</span></li>
                <li><a>11</a><span>大数据</span></li>
            </ul>
        </div>
        <!--自我评价模块-->
        <hr>
        <div class="self-evaluation ">
            <h4></em>自我评价</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;具有较强的自我学习能力，较强的专业理论知识；基础扎实，为人诚信，勤奋务实，有较强的适应能力；责任感强，热爱集体，助人为乐，能恪守以大局为重的原则，愿意服从集体利益的需要，具备奉献精神。</p>
        </div>
        <!--工作经验 模块-->
        <hr>
        <div class="work clear">
            <h4 class="title-bg-new">
                <span class="common-title-new">工作经验</span>
            </h4>
            <h5 class="sub-title-bg">
                <span class="detail-time">2013年7月&nbsp;&nbsp;--&nbsp;&nbsp;至今</span>
                <span title="上海电气集团股份有限公司中央研究院">上海电气集团股份有限公司中央研究院</span>
                <span>&nbsp;|&nbsp;&nbsp;研发工程师</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3年6个月）</span>
            </h5>
            <div class="detail-lists clear">
                <div class="detail-lables">所属行业：</div>
                <div class="detail-cons2">学术/科研</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">公司性质：</div>
                <div class="detail-cons2">国企</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">公司规模：</div>
                <div class="detail-cons2">100-499人</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">职位类别：</div>
                <div class="detail-cons2">计算机/网络技术-研发工程师</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">职位月薪：</div>
                <div class="detail-cons2">保密</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">职责描述：</div>
                <div class="detail-cons2">
                    <p>按项目分工：完成锂电池焊接工段自动化改造，负责机器人程序开发、调试；完成智能调度系统开发，负责核心算法开发、数据库设计及系统开发；进行风机维护调度系统开发，负责算法实现、架构设计。</p>
                </div>
            </div>
        </div>
        <!--项目经验 模块-->
        <br><hr>
        <div class="detail-mar clear">
            <h4 class="title-bg-new"><span class="common-title-new">项目经验</span></h4>
            <h5 class="sub-title-bg clear"><span class="detail-time">2016年1月&nbsp;&nbsp;--&nbsp;&nbsp;2016年12月</span>定子叠片系统片间压力监测</h5>
            <div class="detail-lists clear">
                <div class="detail-lables">所在公司：</div>
                <div class="detail-cons2">上海电气集团股份有限公司中央研究院</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目描述：</div>
                <div class="detail-cons2">
                    <p>监测定子叠片过程中片间压力分布情况，并根据人工经验自动形成补偿方案</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目职责：</div>
                <div class="detail-cons2">
                    <p>负责人工经验整理，形成知识库，开发自动补偿软件</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目业绩：</div>
                <div class="detail-cons2">
                    <p>形成自动补偿软件，测试准确性为83%，控制效果96%（与人工补偿数据做对比，人工方案具有一定随机性，并且控制范围为区间，允许存在不同补偿方案）</p>
                </div>
            </div>
            <h5 class="sub-title-bg clear"><span class="detail-time">2015年1月&nbsp;&nbsp;--&nbsp;&nbsp;2015年12月</span>海上风场维护调度系统</h5>
            <div class="detail-lists clear">
                <div class="detail-lables">所在公司：</div>
                <div class="detail-cons2">上海电气集团股份有限公司中央研究院</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目描述：</div>
                <div class="detail-cons2">
                    <p>实现海上风场维护任务的自动调度</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目职责：</div>
                <div class="detail-cons2">
                    <p>负责核心算法开发、数据库设计及系统开发；负责软件架构设计</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目业绩：</div>
                <div class="detail-cons2">
                    <p>完成软件开发，推送至风云系统，实现海上风机维护任务的推送、自动调度、船只路径规划、人员自动分工、备品备件管理等功能。</p>
                </div>
            </div>
            <h5 class="sub-title-bg clear"><span class="detail-time">2013年7月&nbsp;&nbsp;--&nbsp;&nbsp;2014年12月</span>车间智能调度系统</h5>
            <div class="detail-lists clear">
                <div class="detail-lables">所在公司：</div>
                <div class="detail-cons2">上海电气集团股份有限公司中央研究院</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目描述：</div>
                <div class="detail-cons2">
                    <p>为导向筒车间开发智能调度系统，实现生产排程自动化、智能化。</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目职责：</div>
                <div class="detail-cons2">
                    <p>负责核心算法开发、数据库设计及系统开发，最终实现在20分钟内完成排程车间任务，可同时安排多设备加工、智能分批。</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目业绩：</div>
                <div class="detail-cons2">
                    <p>完成软件开发，形成软件包，在现场测试通过，辅助调度人员决策</p>
                </div>
            </div>
            <h5 class="sub-title-bg clear"><span class="detail-time">2013年6月&nbsp;&nbsp;--&nbsp;&nbsp;2013年12月</span>锂电池焊接工段自动化改造</h5>
            <div class="detail-lists clear">
                <div class="detail-lables">所在公司：</div>
                <div class="detail-cons2">上海电气集团股份有限公司中央研究院</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目描述：</div>
                <div class="detail-cons2">
                    <p>锂电池焊接工段进行自动化改造设计，使其能够跟上叠片节奏，并保证焊接质量，减少废品率</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目职责：</div>
                <div class="detail-cons2">
                    <p>负责焊接机器人程序编写，调试</p>
                </div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">项目业绩：</div>
                <div class="detail-cons2">
                    <p>实现焊接工段自动化，生产效率从1分钟降至10s（其他工段限制），废品率从15%降至1%，产品一致性高。</p>
                </div>
            </div>
        </div>
        <!--教育背景 模块-->
        <br><hr>
        <div class="detail-mar clear">
            <h4 class="title-bg-new"><span class="common-title-new">教育背景</span></h4>
            <h5 class="sub-title-bg"><span class="detail-time">2009年9月&nbsp;&nbsp;--&nbsp;&nbsp;2013年9月</span>浙江大学</h5>
            <div class="detail-lists clear">
                <div class="detail-lables">专业名称：</div>
                <div class="detail-cons2">机械电子工程</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">学历/学位：</div>
                <div class="detail-cons2">本科</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">全日制统招：</div>
                <div class="detail-cons2">是</div>
            </div>
        </div>
        <!--其他能力 模块-->
        <br><hr>
        <div class="detail-mar clear">
            <h4 class="title-bg-new"><span class="common-title-new">其他能力</span></h4>
            <h6 class="diffent-labels mar-t4">语言能力：</h6>
            <div class="detail-lists clear">
                <div class="detail-lables">语&nbsp;&nbsp;&nbsp;&nbsp;种：</div>
                <div class="detail-cons2">英语</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">听说能力：</div>
                <div class="detail-cons2">一般</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">读写能力：</div>
                <div class="detail-cons2">熟练</div>
            </div>
            <h6 class="diffent-labels">计算机/IT技能：</h6>
            <div class="detail-lists clear">
                <div class="detail-lables">专业技能：</div>
                <div class="detail-cons2">java python .net c# html css SQL mySql MATLAB</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">使用时间：</div>
                <div class="detail-cons2">24&nbsp;个月</div>
            </div>
            <div class="detail-lists clear">
                <div class="detail-lables">掌握程度：</div>
                <div class="detail-cons2">熟练</div>
            </div>
        </div>
    </div>
</body>

</html>
