<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>金礼伟的简历</title>
    <link rel="stylesheet" href="../css/resume/resume.css">
</head>

<body>
    <div id="main">

        <div class="base-info">
            <h4>基本信息</h4>
            <div>
                <img class="head-portrait" src="../img/resume/jinliwei.png" />
            </div>
            <ul class="base-ul">
                <li>
                    姓名：<span>金礼伟</span> &nbsp;&nbsp;|&nbsp;&nbsp;男&nbsp;&nbsp;|&nbsp;&nbsp;3年工作经验&nbsp;&nbsp;
                    <span>|&nbsp;&nbsp;本科</span>
                </li>
                <li>
                    26岁&nbsp;&nbsp;|&nbsp;&nbsp;1990年6月&nbsp;&nbsp;
                    <span>|&nbsp;&nbsp;未婚&nbsp;&nbsp;</span>|&nbsp;&nbsp; 上海 闸北区&nbsp;&nbsp;
                </li>
                <li><span>手机：</span><span>15002129986</span></li>
                <li><span>邮箱：</span>jinliwei1990@outlook.com</li>
            </ul>
            <p class="clear"></p>
        </div>
        <div class="skill-info">
            <h4>简历标签</h4>
            <ul class="skill-box">
                <li><a>1</a><span>C#</span></li>
                <li><a>2</a><span>html</span></li>
                <li><a>3</a><span>SQL</span></li>
                <li><a>4</a><span>研发工程师</span></li>
                <li><a>5</a><span>英语</span></li>
                <li><a>6</a><span>CSS</span></li>
                <li><a>7</a><span>Matlab</span></li>
                <li><a>8</a><span>VB.NET</span></li>
                <li><a>9</a><span>java</span></li>
                <li><a>10</a><span>python&#39;</span></li>
                <li><a>11</a><span>大数据</span></li>
            </ul>
        </div>
        <div  class="self-evaluation ">
            <h4></em>自我评价</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;具有较强的自我学习能力，较强的专业理论知识；基础扎实，为人诚信，勤奋务实，有较强的适应能力；责任感强，热爱集体，助人为乐，能恪守以大局为重的原则，愿意服从集体利益的需要，具备奉献精神。</p>
        </div>
    </div>
</body>
 
</html>
